@model VentureThemeSettingsModel

@{
    Layout = AdminViewLocations.AdminLayoutViewPath;

    NopHtml.SetActiveMenuItemSystemName("SevenSpikes.Themes.Admin.SettingsSubmenu.Venture");
}

<link rel="stylesheet" href="~/Plugins/SevenSpikes.Core/Areas/Admin/Content/Styles/adminstyles.css" />
<link rel="stylesheet" href="~/Plugins/SevenSpikes.Theme.Venture/Areas/Admin/Content/Styles/admin.css" />

<script src="~/Plugins/SevenSpikes.Core/Areas/Admin/Content/Scripts/custom.presets.min.js" asp-location="Footer"></script>
<script src="~/Plugins/SevenSpikes.Theme.Venture/Areas/Admin/Content/Scripts/admin.min.js" asp-location="Footer"></script>

<form method="post">
    <nop-antiforgery-token />

    <script type="text/javascript">
        $(document)
            .ready(function () {
                $("#@Html.IdFor(model => model.LogoImageId_OverrideForStore)").change(logoOverrideChanged);
                $("#@Html.IdFor(model => model.Preset_OverrideForStore)").change(colorPreset);
                $("#@Html.IdFor(model => model.SaleOfTheDayBackgroundImageId_OverrideForStore)").change(saleOfTheDayBackgroundImageChanged);

                $('.store-scope-configuration .checkbox input').change(function () {
                    logoOverrideChanged();
                    colorPreset();
                    saleOfTheDayBackgroundImageChanged();
                });

                logoOverrideChanged();
                colorPreset();
                saleOfTheDayBackgroundImageChanged();

                var customerPresetObj = new CustomPreset('.theme-color .radionButton:last label',
                    '.theme-color .radionButton label');
                customerPresetObj.setPresetsBackgroundColor();
                customerPresetObj.addKendoColorPickerToTheLastRadioButton();

            });

        function logoOverrideChanged() {
            if ($('#@Html.IdFor(model => model.LogoImageId_OverrideForStore)').length == 0) {
                return;
            }

            if ($('#@Html.IdFor(model => model.LogoImageId_OverrideForStore)').is(':checked') == true) {
                $("#logo-image .upload-image-overlay").remove();
            } else {
                $('#logo-image').append("<div class=\"upload-image-overlay\"></div>");
            }
        }

        function colorPreset() {
            if ($('#@Html.IdFor(model => model.Preset_OverrideForStore)').length == 0) {
                return;
            }

            if ($('#@Html.IdFor(model => model.Preset_OverrideForStore)').is(':checked') == true) {
                $(".theme-color .adminData .upload-image-overlay").remove();
            } else {
                $('.theme-color .adminData').append("<div class=\"upload-image-overlay\"></div>");
            }
        }

        function saleOfTheDayBackgroundImageChanged() {
            if ($('#@Html.IdFor(model => model.SaleOfTheDayBackgroundImageId_OverrideForStore)').length == 0) {
                return;
            }

            if ($('#@Html.IdFor(model => model.SaleOfTheDayBackgroundImageId_OverrideForStore)').is(':checked') == true) {
                $("#sale-of-the-day-title-image .upload-image-overlay").remove();
            } else {
                $('#sale-of-the-day-title-image').append("<div class=\"upload-image-overlay\"></div>");
            }
        }

    </script>

    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("SevenSpikes.Themes.Venture.Admin.Settings.ThemeSettings")
        </h1>
        <div class="float-right">
            @{ await Html.RenderPartialAsync(AdminViewLocations.AdminResetDefaultSettingsViewPath, Plugin.FolderName); }
            <button type="submit" name="save" class="btn bg-blue">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>

    <section class="content">
        <div class="form-horizontal">
            @await Component.InvokeAsync("StoreScopeConfiguration")
            <nop-tabs id="venture-settings-edit" data-logoImageId="#@Html.IdFor(model => model.LogoImageId_OverrideForStore)" data-presetfieldId="#@Html.IdFor(model => model.Preset_OverrideForStore)">
                <nop-tab asp-name="tab-info" asp-title="@T("SevenSpikes.Themes.Venture.Admin.TabTitle.GeneralSettings")" asp-default="true">@{ await Html.RenderPartialAsync("_Settings.General", Model); }</nop-tab>
                <nop-tab asp-name="tab-additional" asp-title="@T("SevenSpikes.Themes.Venture.Admin.TabTitle.AdditionalSettings")">@{ await Html.RenderPartialAsync("_Settings.Additional", Model); }</nop-tab>
                <nop-tab asp-name="tab-map" asp-title="@T("SevenSpikes.Themes.Venture.Admin.TabTitle.MapSettings")">@{ await Html.RenderPartialAsync("_Settings.Map", Model); }</nop-tab>
                <nop-tab asp-name="tab-info-boxes" asp-title="@T("SevenSpikes.Themes.Venture.Admin.TabTitle.InfoBoxesSettings")">@{ await Html.RenderPartialAsync("_Settings.InfoBoxes", Model); }</nop-tab>
            </nop-tabs>
        </div>
    </section>
</form>