@model ProductReviewOverviewModel
@{
    var ratingPercent = 0;
    if (Model.TotalReviews != 0)
    {
        ratingPercent = ((Model.RatingSum * 100) / Model.TotalReviews) / 5;
    }
}
@if (Model.AllowCustomerReviews)
{
    <div class="product-reviews-overview">
        <div class="product-review-box">
            <b>@((((Model.RatingSum * 5) / Model.TotalReviews) / 5).ToString("0.0"))</b>&nbsp;
            <div class="rating">
                <div style="width: @(ratingPercent)%">
                </div>
            </div>
            &nbsp;(<a style="text-transform: none;text-decoration:underline;" href="#quickTab-reviews">@Model.TotalReviews ratings</a>)
        </div>

        @if (Model.TotalReviews > 0)
        {
            <div class="product-review-links">
                <a href="@Url.RouteUrl("ProductReviews", new { productId = Model.ProductId })">@Model.TotalReviews
                    @T("Reviews.Overview.Reviews")</a>
                
                @if (Model.CanAddNewReview)
                {
                    <span class="separator">|</span> <a href="@Url.RouteUrl("ProductReviews", new { productId = Model.ProductId })">@T("Reviews.Overview.AddNew")</a>
                }
                
            </div>            
        }
        else
        {
            <div class="product-no-reviews">
                <a href="@Url.RouteUrl("ProductReviews", new { productId = Model.ProductId })">@T("Reviews.Overview.First")</a>
            </div>
        }
    </div>
}