@model NopAjaxFiltersProPublicModel
    
@{
    var theme = await ThemeHelper.GetPluginThemeAsync(SevenSpikes.Nop.Plugins.AjaxFilters.Pro.Infrastructure.Constants.Plugin.FolderName);

    <link rel="stylesheet" href="~/Plugins/SevenSpikes.Nop.Plugins.AjaxFilters.Pro/Themes/@theme/Content/FilterWidget.css"/>

    var supportRtl = (await EngineContext.Current.Resolve<IWorkContext>().GetWorkingLanguageAsync()).Rtl;

    if (supportRtl)
    {
        <link rel="stylesheet" href="~/Plugins/SevenSpikes.Nop.Plugins.AjaxFilters.Pro/Themes/@theme/Content/FilterWidget.rtl.css"/>
    }
      
    var kendoVersion = "2020.1.406";

    <script src="~/lib/kendo/@kendoVersion/js/kendo.core.min.js" asp-location="Footer"></script>
    <script src="~/lib/kendo/@kendoVersion/js/kendo.data.odata.min.js" asp-location="Footer"></script>
    <script src="~/lib/kendo/@kendoVersion/js/kendo.data.min.js" asp-location="Footer"></script>
    <script src="~/lib/kendo/@kendoVersion/js/kendo.popup.min.js" asp-location="Footer"></script>
    <script src="~/lib/kendo/@kendoVersion/js/kendo.list.min.js" asp-location="Footer"></script>
    <script src="~/lib/kendo/@kendoVersion/js/kendo.dropdownlist.min.js" asp-location="Footer"></script>
    <script src="~/lib/kendo/@kendoVersion/js/kendo.fx.min.js" asp-location="Footer"></script>

    <script src="~/Plugins/SevenSpikes.Nop.Plugins.AjaxFilters.Pro/Scripts/AjaxFiltersPro.min.js" asp-location="Footer"></script>

    var showCategoryDropdown = Model.UIMode == NopAjaxFiltersProUIMode.CategoryOnly;
    var showCategoryAndSubcategoryDropdown = Model.UIMode == NopAjaxFiltersProUIMode.CategoryAndSubcategory;
    var showManufacturerDropdown = Model.UIMode == NopAjaxFiltersProUIMode.ManufacturerOnly;
    var showCategoryAndManufacturerDropdown = Model.UIMode == NopAjaxFiltersProUIMode.CategoryAndManufacturer;
    var showCategorySubcategoryAndManufacturerDropdown = Model.UIMode == NopAjaxFiltersProUIMode.CategorySubcategoryAndManufacturer;
}

<form asp-controller="AjaxFiltersProSearch" asp-action="Search" id="AjaxFiltersProForm">
    <div class="home-page-filters-wrapper ajax-filters-pro"
         data-showCategoryDropdown="@showCategoryDropdown.ToString().ToLowerInvariant()"
         data-showCategoryAndSubcategoryDropdown="@showCategoryAndSubcategoryDropdown.ToString().ToLowerInvariant()"
         data-showManufacturerDropdown="@showManufacturerDropdown.ToString().ToLowerInvariant()"
         data-showCategoryAndManufacturerDropdown="@showCategoryAndManufacturerDropdown.ToString().ToLowerInvariant()"
         data-showCategorySubcategoryAndManufacturerDropdown="@showCategorySubcategoryAndManufacturerDropdown.ToString().ToLowerInvariant()"
         data-categoryResource="@T("SevenSpikes.NopAjaxFiltersPro.Client.Category")"
         data-subcategoryResource="@T("SevenSpikes.NopAjaxFiltersPro.Client.Subcategory")"
         data-manufacturerResource="@T("SevenSpikes.NopAjaxFiltersPro.Client.Manufacturer")"
         data-getCategoriesUrl="@Url.Action("GetCategories", "AjaxFiltersProSearch")"
         data-getManufacturersUrl="@Url.Action("GetManufacturers", "AjaxFiltersProSearch")"
         data-getSpecificationsUrl="@Url.Action("GetSpecification", "AjaxFiltersProSearch")">

        <div class="home-page-filters">
            <div class="home-page-filter-selectors">
                @if (Model.UIMode != NopAjaxFiltersProUIMode.ManufacturerOnly)
                {
                    <div class="home-page-filter-selector">
                        <input type="hidden" id="categories" name="categoryId" value="0" autocomplete="off" />
                    </div>
                }

                @if (Model.UIMode == NopAjaxFiltersProUIMode.CategoryAndSubcategory || Model.UIMode == NopAjaxFiltersProUIMode.CategorySubcategoryAndManufacturer)
                {
                    <div class="home-page-filter-selector">
                        <input type="hidden" id="ajax-filters-pro-subcategories" name="subCategoryId" value="0" autocomplete="off" />
                    </div>
                }

                @if (Model.UIMode == NopAjaxFiltersProUIMode.ManufacturerOnly || Model.UIMode == NopAjaxFiltersProUIMode.CategoryAndManufacturer || Model.UIMode == NopAjaxFiltersProUIMode.CategorySubcategoryAndManufacturer)
                {
                    <div class="home-page-filter-selector">
                        <input type="hidden" id="manufacturers" name="manufacturerId" value="0" autocomplete="off" />
                    </div>
                }

                @foreach (var spec in Model.Specifications)
                {
                    <div class="home-page-filter-selector">
                        <input type="hidden" id="specification_@(spec.Id)" name="specificationOptions" value="0" class="ajaxFiltersProSpecificationItem" data-id="@spec.Id" data-name="@Html.Raw(spec.Name)" autocomplete="off" />
                    </div>
                }
            </div>
            <div class="home-page-filter-button">
                <span id="home-page-filter-total-products-count" class="results-number"></span>
                <button type="submit" class="search-button" disabled="disabled">@T("SevenSpikes.NopAjaxFiltersPro.Client.Search")</button>
            </div>
        </div>
    </div>
</form>